
html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
}



header {
    background-color: silver;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 15px;
}

img {
        height: 200px;
        width: 250px;
}

#api_logo {
    height: auto;
    width: auto;
    position: absolute;
    right: 5px;
}

#main-title {
    position: absolute;
    left: 5px;
    top: 0px;
}

.heading {
    margin: 5px;
    padding: 0;
}

form {
    width: 90%;
}

input {
    display: block;
    width: 90%;
    height: 30px;
    margin: 5px;
}



.grid-container {
        display: grid;
        grid-template-columns: auto;
    }

.grid-item {
    border: black solid 1px;
    margin: 5px;
}

.grid-item:hover {
    background-color: silver;
}

.item-container {
    min-height: 400px
}

.details {
    display: none;
    background-color: #99ff99;
    word-wrap: break-word;
    width: 100%;
}

.hide {
    background-color: grey;
    height: 50px;
}

.page {
    width: 20px;
    display: inline;
}

footer {
    width: 100%;
    height: 50px;
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border-radius: 5px;
}


@media screen and (min-width: 600px) {
        .grid-container {
            
            grid-template-columns: auto auto;
        }

        .details {
            display: none;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%
        }

        form {
          width: auto;
        }

        input {
            display: inline;
            width: 100px;
        }
    }

@media screen and (min-width: 800px) {
        .grid-container {
                      grid-template-columns: auto auto auto auto;
        }

        form {
          width: auto;
        }

        input {
            display: inline;
            width: 100px;
        }
    }

