/*body {
    	width: 100%;
    }

    #header {
    	background-color: black;
    	height: 150px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        background-color: grey;
        padding: 10px;
    }

    .grid-item {
        background-color: white;
        padding: 20px;
        width: 100%;
    }

    .grid-item:hover {
        background-color: grey;
    }


    @media screen and (min-width: 600px) {
        .grid-container {
            
            grid-template-columns: auto auto;
        }
    }

    @media screen and (min-width: 768px) {
        .grid-container {
            
            grid-template-columns: auto auto auto auto;
        }
    }


    img {
    	height: 200px;
    	width: 250px;
    }

    .item {
    	border: 1px solid black;
    	//width: 500px;
    }

    a {
    	text-decoration: none;
    	color: black;
    }

    a:hover {
    	background-color: grey;
    	color: orange;
    }

    .details {
        padding: 10px;
        background-color: grey;

        position: relative;
        top: 50%;
        left: 0%;
    }

    header {
    	position: relative;
    }

    //form {
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translateX(-50%);
    	transform: translateY(-50%);
    }

    form {
    	position: absolute;
    	top: 50%;
    	transform: translateY(-50%);
    	width: 100%;
    }

    input {

    	width: 100%;

    	padding: 12px 20px;
    	width: 100%;
    	display: block;
    }

    */
html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
}

header {
    background-color: silver;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-title {
    display: flex;
    justify-content: flex-end;
   // position: relative;
}

form {
  width: auto;
}

input {
    display: block;
    width: 100%;
}

.grid-container {
        display: grid;
        grid-template-columns: auto;
        //grid-gap: 10px;
        //background-color: grey;
       // padding: 10px;
    }

.grid-item {
    border: black solid 1px;
    margin: 5px;
    //height: 10px;
}

.grid-item:hover {
    background-color: silver;
}

.details {
    background-color: pink;
}

@media screen and (min-width: 600px) {
        .grid-container {
            
            grid-template-columns: auto auto;
        }

        .details {
              position: fixed;
              bottom: 0;
              left: 0;
              width: 100%

        }
    }

@media screen and (min-width: 800px) {
        .grid-container {
            
            grid-template-columns: auto auto auto auto;
        }
    }

